@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Enterprise.VendorGroup.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Enterprise.VendorGroupGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>