@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Purchasing.VendorQuotationRemark.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Purchasing.VendorQuotationRemarkGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>