@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inventory.ItemLotSerial.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Inventory.ItemLotSerialGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>