@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.LookupDialogFilterColumnDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Administration.LookupDialogFilterColumnDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>