@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sales.QuotationDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        //new Matrix.Sales.QuotationDetailGrid($('#GridDiv'), {}).init();

        //Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>