@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inventory.FifoControl.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Inventory.FifoControlGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>