@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Production.JobOrderRoutingStep.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Production.JobOrderRoutingStepGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>