@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Purchasing.PurchaseReturnDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Purchasing.PurchaseReturnDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>