@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Enterprise.Currency.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Enterprise.CurrencyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>

<style type="text/css">
    .DetailList .caption {
        display: none;
    }

    .DetailList .grid-toolbar {
        display: none;
    }


    .quick-filters-bar {
        display: none;
    }
</style>