@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sales.SalesOrderDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Sales.SalesOrderDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>