@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.UserDefinedQuery.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Administration.UserDefinedQueryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>