@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Finance.AccountBudget.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Finance.AccountBudgetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>