@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MasterData.Calendar.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.MasterData.CalendarGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>