@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MasterData.AnalysisCategory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.MasterData.AnalysisCategoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>