@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BasicInformation.CompanySetting.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Basic.CompanySettingGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>