@{
    ViewData["Title"] = "Company";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Administration.CompanyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>