@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Finance.AccountsReceivablePaymentDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.Finance.AccountsReceivablePaymentDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>