@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.EnterpriseSys.ReportDialogOptionItem.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Matrix.EnterpriseSys.ReportDialogOptionItemGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>